<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>

</head>

<body>

<h1>
    Contacts
</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="contact : ${contacts}">
            <td th:text="${contact.id}">

            </td>
            <td th:text="${contact.firstName}">

            </td>
            <td th:text="${contact.lastName}">

            </td>
            <td th:text="${contact.eMail}">

            </td>
            <td th:text="${contact.phoneNumber}">

            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${contact.getId()})}">
                    Edit
                </a>

                <a th:href="@{/delete/{id}(id=${contact.getId()})}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/create">
        Create Contact
    </a>

</div>

</body>
</html>